*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
UTILITY
*/
.layouting-1{
    height: 75px;
    border: 2px dashed white;
}

.layouting-2{
    height: 75px;
    border: 2px dashed rgb(0, 0, 0);
}


/*
Styling
*/

.bg-boolean-blu{
    background-color: #000D30;
}

.bg-bool-azure{
    background-color: #41a088;
}

.bg-blu{
    background-color: #0c3092;
}

.user-section img{
    width: 20%
}